@charset "UTF-8";

body {
    background-image: url('fundo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.calculadora {
    background-color: #2d3047;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px hsl(0, 0%, 0%);
    display: grid;
    grid-template-rows: auto 1fr;
}

#display {
    width: 100%;
    height: 60px;
    background-color: #7c898b;
    color: #22da25;
    font-size: 2rem;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin-bottom: 10pt;
    box-sizing: border-box;
}

.botoes {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    gap: 10px;
    justify-content: center;
}

button{
    height: 60px;
    font-size: 1.5em;
    border: none;
    border-radius: 8px;
    background-color: #eaffda;
    color: #000;
    cursor: pointer;
    transform: 0.2s;
}

button:hover{
    background-color: #555;
}

.zero{
    grid-column: span 2;
}