@charset "UTF-8";

body {
  font-family: Arial, sans-serif;
  background-color: #2d3047;
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: #7c898b;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: auto;
  text-align: center;
}

textarea {
  width: auto;
  height: auto;
  padding: 10px;
  font-size: 16px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

#contador {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}
